.countdown-container {
    display: flex;
    justify-content: space-around;
  }
  
  .countdown-item {
    text-align: center;
  }
  
  .countdown-number {
    font-size: 1.5em;
    font-weight: bold;
    color: orange; /* Couleur du texte */
    background-color: black; /* Couleur de fond */
    padding: 10px;
    border-radius: 8px;
  }
  
  .countdown-label {
    margin-top: 5px;
    color: #333333; /* Couleur du texte */
  }
